<p style="color: green"><%= notice %></p>

<%= render @import_task %>

<div>
  <%= link_to "Edit this import task", edit_import_task_path(@import_task) %> |
  <%= link_to "Back to import tasks", import_tasks_path %>

  <%= button_to "Destroy this import task", @import_task, method: :delete %>
</div>
