<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Import File Project" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <!-- Minified version -->
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <h1>Total of tasks</h1>
    <%=turbo_stream_from "total_of_tasks" %>
    <%= turbo_frame_tag :total_of_tasks do %>
    <%=render "tasks/total_of_tasks" %>
    <% end %>

    <%= yield %>

    <hr />
    <h3>Last Import</h3>
    <%= turbo_stream_from "last_import_tasks" %>
    <div id="last_import_tasks"></div>
  </body>
</html>
